.footer {
  border-top: 1px solid var(--pink);
  margin-top: 5rem;
  text-align: center;
}

.footer__text {
  color: var(--yellow);
  text-shadow: 0 0 10px var(--yellow);
  text-transform: uppercase;
}