.app-header {
  text-align: center;
}

.app-header__title {
  margin-top: 0;
}

.app-header__sub-title {
  line-height: 1.4;
  margin: 0;
}

.app-header__sub-title:after {
  background-color: var(--pink);
  box-shadow: 0 0 10px var(--pink);
  content: '';
  display: block;
  height: 1px;
  margin-top: 1.25rem;
  width: 100%;
}

.app-header__menu-icon {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 99;
}

.app-header__menu-icon:hover {
  cursor: pointer;
}