.exercise {
  align-items: center;
  background-color: var(--navy);
  border: 1px solid var(--pink);
  box-shadow: 0 2px 25px #000;
  color: var(--pink);
  display: flex;
  padding: 1.25rem .75rem 1.25rem;
  margin-bottom: .75rem;
  transition: all .3s ease-in;
}

.exercise--readonly {
  pointer-events: none;
}

.exercise:hover {
  border-color: var(--blue);
  color: var(--blue);
  cursor: pointer;
  text-shadow: 0 0 10px var(--blue);
}

.exercise__title, 
.exercise__category {
  margin: 0;
}

.exercise__category {
  margin: 0 1.25rem;
}

.exercise__action {
  color: var(--yellow);
  margin: 0 0 0 auto;
  text-shadow: 0 0 10px var(--yellow);
}